Pane{
	-fx-background-image: url("../img/fondo.jpg");
}

.button{
    -fx-font-weight: bold;
    -fx-background-color:#FFFFFF;
    -fx-background-radius:22;
    -fx-font-size:16;
    -fx-text-fill:#3f474f;
}

.button:hover{
    -fx-font-weight: bold;
    -fx-background-color:#5a1265;
    -fx-background-radius:22;
    -fx-font-size:16;
    -fx-text-fill:#FFFFFF;
}

.button:hover:pressed{
    -fx-font-weight: bold;
    -fx-background-color:#d43c9b;
    -fx-background-radius:22;
    -fx-font-size:16;
    -fx-text-fill:#FFFFFF;
}

.table-view{
   -fx-base: #5a1265;
   -fx-accent: #d43c9b;
   -fx-focus-color: #5a1265;
}

.table-row-cell:odd {
    -fx-base: #874C90;
    -fx-accent: #d43c9b;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-view .table-cell:odd{
    -fx-text-fill: black;
}
